:root {
  --white: #f1f1f1;
  --black: #1f1f1f;
  --color_1: #06314b;
  --color_2: #045d88;
  --color_3: #008acc;
  --color_4: #33c4fd;
  --fontColor: #dff3ff;
  --gradient: linear-gradient(40deg, var(--color_2), var(--color_4), var(--color_2));
  --bow: 6px;
  --shadow: -2px 2px 8px -2px rgba(0,0,0,0.75);
  --text_shadow: drop-shadow(-2px 2px 4px #000);
  --smooth: .3s;
}

* {
  box-sizing: border-box;
  margin: 0; padding: 0;
  list-style-type: none;
}

body {
  font-family: Tahoma, Arial;
  color: var(--fontColor);
}

.App {
  background-image: var(--gradient);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(var(--color_2), var(--color_1));
  column-gap: 8px;
  padding: 8px;
  border-bottom-left-radius: var(--bow);
  border-bottom-right-radius: var(--bow);
  position: relative;

  & button {
      border: none;
      background-color: var(--color_1);
      padding: 6px;
      color: var(--fontColor);
      font-weight: bold;
      border-radius: var(--bow);
      cursor: pointer;
      transition: var(--smooth);
  }
  & button:hover {
      background-color: var(--color_4);
      color: var(--color_1);
  }
}

/* On phones */
@media (max-width: 768px) {
  .container {
      flex-direction: row;
  }
}